@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap');
header{
    width: 1400px;
    margin: 0 auto;
    position: relative;
}
h1,h2,h3,h4{
    font-family: 'Bebas Neue', cursive;
    color: #eb5439;
}
footer h1{
    color: white;
}
h3{
    font-size: 18px;
    margin: 5px 0 0 0;
    color: #b9b9b9;
}
h4{
    margin: 0;
    font-size: 16px;
}
p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;

}
a{
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
}
.wrapper{
    width: 940px;
    margin: 0 auto;
}
.nav{
    display: inline-flex;
    position: relative;
}
.nav a{
    text-decoration: none;
    margin-right: 30px;
}
.nav a p{
    text-transform: uppercase;
    color: #b9b9b9;
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    font-weight: lighter;
    margin: 0;
    transition: 0.5s;
}
.nav a:last-child{
    margin-right: 0;
}
.sides{
    position: absolute;
    display: flex;
}
.sides div{
    background-color: rgba(255,110,0, 0.4);
    width: 220px;
    height: 61px;
    margin-top: 80px;
}
header .sides div:first-child{
    margin-right: 960px;
}
.bar{
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
}
.bar img{
    padding-right: 455px;
}
.bar:nth-child(2){
    background-color: orangered;
    height: 61px;
}
.bar h1{
    color: white;
    padding-left: 20px;
}
.nav a:hover p{
    color: #ff4500;
}
.item{
    border: 1px solid #dbdbdb;
    border-top: none;
}
.row{
    display: inline-flex;
    width: 940px;
    justify-content: space-between;
    margin-bottom: 30px;
}
.item h3,h4{
    margin-left: 15px;
    font-weight: lighter;
}
.item h4{
    margin-bottom: 5px;
}
footer{
    height: 265px;
    width: 1400px;
    margin: 0 auto;
    color: white;
}
footer .wrapper{
    background-color: #e8663c;
    height: 300px;
    margin: 0 auto;
    position: relative;
}
footer .line{
    width: 940px;
    height: 265px;
    margin: 0 auto;
    align-items: center;
}
footer .line .item{
    width: 320px;
}
footer .sides div{
    height: 300px;
    margin: 0;
}
footer .sides div:first-child{
    margin-right: 960px;
}
footer .text{
    display: block;
    height: 230px;
}
footer .text h1{
    font-weight: lighter;
}
footer .item{
    border: none;
}
footer .item:nth-child(1){
    margin-left: 37px;
    width: 300px;
}
footer .item:nth-child(2){
    margin: 0 40px;
    width: 220px;
}
footer .item:nth-child(3){
    width: 270px;
}
section .bar a{
    text-transform: uppercase;
    color: #b9b9b9;
    text-align: center;
    margin: 0 5px;
    line-height: 0;
    padding: 15px;
    transition: 0.5s;
}
section .bar a:hover{
    background-color: #e8663c;
    color: white;
}
.overlay{
    position: relative;
    width: 220px;
    height: 184px;

}
.overlay div{
    margin: 0 auto;
    width: 15px;
    text-align: center;
}
.content {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}
.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 98%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay{
    opacity: 1;
}
.content-image{
    width: 100%;
}
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}
.fadeIn-top{
    top: 20%;
}
